<div id="date-box" class=" white teal-text right col s12 m2">
    {{Home.eventDate}}
</div>
<!--<div id="terms-box" class=" white teal-text left col s12 m2">
  <a href="#!">{{Home.terms}}</a>
</div>-->

<section class="full-height">
    <div id="main-content" class="row">
        <div id="logo" class="col s12 m6 offset-m3">
        </div>
        <div id="main-description" class="white-text col s12 m6 offset-m3 t-center m-top-s">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a vulputate dui. Fusce viverra eu augue a facilisis. Sed congue finibus purus quis consectetur. Integer porta mollis suscipit. Sed ac convallis tellus. Fusce mattis, sapien id tincidunt porttitor,
            mauris mi ornare sem, id pharetra nunc neque vel dui. Integer ultricies tellus velit.
        </div>
        <div id="bubbles-container" class="col s12 m6 offset-m3 center m-top-s">
            <div class="bubble red wow bounceIn  {{x.color + ' ' + x.textColor }}" data-wow-delay="{{x.dataDelay}}" ng-repeat="x in Home.bubbles">{{x.text}}</div>
        </div>

        <div class="col s12 m4 offset-m4 center m-top-s">
            <hr>
            <a class="btn-large center m-top-s col s12  teal accent-4"> Inscreva-se</a>
        </div>
    </div>
    <br><br><br><br><br><br><br>
</section>
<section class="full-height steps" id="step-1">
    <h3 class="font-1 white-text center">O que melhor te representa?<br><small>(Clique nas imagens para escolher)</small></h3>
    <div class="row">
        <div class="col s12 m6 offset-m3 center">
            <a class="btn-large" ng-click="Home.sexo = 'masculino'">Masculino</a>
            <a class="btn-large" ng-click="Home.sexo = 'feminino'">Feminino</a>
        </div>
        <hr class="col s12 m-top-m">
        <div class="col s12 m6 offset-m3 center">
            <a ng-repeat="x in Home.peopleIcons">
                <img class="bubble-images wow bounceIn" width="100%" height="100%" src="{{Home.peopleIconsPath + x.fileName}}"  data-wow-delay="{{x.delay}}" />
            </a>
        </div>
        <div class="col s12 m6 offset-m3 center m-top-m">
            <a class="btn-large" >Próximo</a>

        </div>
    </div>
    <br><br><br><br><br><br><br>



    <br><br><br><br><br><br><br>

</section>
